$primary-color: #1db954 !default;
$dark-color: #161925 !default;
$light-color: #f4f4f4 !default;
$danger-color: #d50000 !default;
$success-color: #1b5e20 !default;
$grey-color: #8a8a8a !default;
$white-color: #fff !default;
$black-color: #000 !default;
$container-width: 1700px;
