.bodySongs {
  margin: 20px -30px;
}

.bodySongs__icons {
  display: flex;
  align-items: center;
}

.bodySongs__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body__shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
  cursor: pointer;
}

.songItem {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: $white-color;
}

.songItem:hover {
  cursor: pointer;
  background-color: $black-color;
  opacity: 0.8;
}

.songItem__info {
  margin-left: 20px;
}

.songItem__info > h1 {
  font-size: 16px;
}

.songItem__info > p {
  font-size: 14px;
  color: grey;
}

.songItem__album {
  height: 50px;
  width: 50px;
}
