.bodySongs {
  margin: 20px -30px;
}

.bodySongs__icons {
  display: flex;
  align-items: center;
}

.bodySongs__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body__shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
  cursor: pointer;
}
