.login {
  display: grid;
  place-items: center;
  height: 50vh;
  width: 100%;
  background-color: $black-color;
}

.login > img {
  object-fit: contain;
  width: 100%;
}

.login > a {
  padding: 20px;
  background-color: $primary-color;
  border-radius: 99px;
  text-transform: uppercase;
  font-weight: 800;
  color: $white-color;
}

.login > p {
  color: $white-color;
  text-align: center;
}
